.kch_container {
    display: grid;
    grid-template-columns: 0.75fr 1.5fr 0.75fr;
    grid-template-areas: ". search ." 
                        "profile addpost jobs" 
                        "profile feed jobs" 
                        "footer footer footer";
    grid-template-rows: 0.2fr 0.5fr 2.7fr 0.6fr;
    grid-gap: 0.8rem;
    width:100%;
}

.kch_profile {
    grid-area: profile;
}

.kch_searchbar {
    grid-area: search;
    /*position: sticky;
    top: 8vh;*/
}

.kch_jobpost {
    grid-area: jobs;
}

.kch_footer {
    grid-area: footer;
}

.kch_feed {
    grid-area: feed;
}

.kch_addpost {
    grid-area: addpost;
}