.nisa-vaca-container1{
    width: 100%;
}

.nisa-vaca-img1{
    width: 80px;
    height: 70px;
    margin-left: 70%;
    margin-top: 10px;
}

.nisa-vaca-lb{
    font-size: 20px;
    margin-top: 25px;
}

.nisa-vaca-container2{
    display: flex;
    flex-direction: row;
   
}

.nisa-vaca-label{
    color: black;
    text-align: center;
    font-size: 40px;
    margin-top: 15px;
}

.nisa-vaca-btn2{
    margin-left: 73.5%;
    background-color: #0E312F;
    border: black;
    color: white;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100px;
}

.nisa-vaca-btn1{
    width: 100px;
    height: 30px;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    background-color: #0E312F;
    color: white;
    font-size: 17px;
    border-radius: 5px;
}

.nisa-vaca-btn1:hover{
    background-color: rgb(118, 181, 150);
    color: #0E312F;
    cursor: pointer;
}

.nisa-vaca-btn2:hover{
    background-color: rgb(118, 181, 150);
    color: #0E312F;
    cursor: pointer;
}

.vaca-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    padding: 20px;
    max-width: 30%;
    width: 100%;
  }
  .nisa-vac-ll{
    margin-left: 45%;
    font-size: 28px;
    color: maroon;
  }
  .vaca-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    text-align: center;
    background-color: #fff;
    width: 100%;
  }
  
  .modal-title {
    font-size: 24px;
    margin-bottom: 10px;
    background-color: #fff;
  }
  
  .modal-message {
    font-size: 16px;
    margin-bottom: 20px;
    background-color: #fff;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .btn {
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-delete {
    background-color: #ff0000;
    color: #fff;
  }
  
  .btn-cancel {
    background-color: #ccc;
    color: #000;
  }
  