#nab-currentapps-wrapper{
    border-radius: 5%;
    border: 1px solid gray;
    width: 100%;
    height: 100%;
    
    background-color:rgba(255,255,255,0.6);
}
#nab-compare-div{
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    width: 100%;
    /*float:right;*/
    
}
.nab-compareapps-button{
    border-radius: 5%;
   
    border: #016960;
    border-style: solid;
    color: #016960;
    text-align: center;
    font-size: 2.5vh;
    
    /*background-color: #016960;*/ /*enable this when 3 apps are selected*/
    width: 40%;
    height:10%;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 12px;
   
    
}
#select3apps{
    
    height:20%;
    width:100%;
    
    text-align:left;
    font-size:13px;
    padding:2%;
    margin-top: 2%;
}
#nab-innerapps-wrapper
{
    background-color: #016960;
    border-radius: 20px 20px 0px 0px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vh;
    text-align: center;
    
}
#nab-currentapps-btn-group{
    display: flex;
    flex-direction: row;
}
#nab-currentapps-checkbox-wrapper{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}
#nab-currentapps-checkbox{
    font-size: 15px;
    
    height:fit-content;
    margin-top: 5px;
}
#select-for-comp{
    font-size: 15px;
    text-align: center;
    height:fit-content;
}

.nab-currentapps-button {
    
    border-radius: 5%;
   
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 2vh;
    background-color: #016960;
    width: 30%;
    height:10%;
    transition: all 0.5s;
    cursor: pointer;
    padding: 2%;
  }
  
  .nab-currentapps-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .nab-currentapps-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .nab-currentapps-button:hover span {
    padding-right: 25px;
  }
  
  .nab-currentapps-button:hover span:after {
    opacity: 1;
    right: 0;
  }
  #currentapps-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #currentapps-table td, #currentapps-table th {
    border: 0px solid #ddd;
    padding: 8px;
  }
  
  #currentapps-table tr:nth-child(even){background-color: #f2f2f2;}
  
  #currentapps-table tr:hover {background-color: #ddd;}
  
  #currentapps-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }