#nab-discover-opp{
    text-align:center;
    font-size: 22px;
    font-weight: bold;
    width:100%;
    color:#016960;
    margin-bottom: 5%;

    
}
#nab-text{
    font-size: 17px;
    text-align:center;
    /*width: 27vh;*/
}
.container-home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img1{
    float: right;
    margin-top: 24%;
    margin-right: -400px;
    height: 550px;
}

.box1{
    width: 700px;
    margin-left: 5%;
    margin-top: 21%;
    display: flex;
    flex-direction: column;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h2{
    font-size: 70px;
    margin-top: -100px;
}

.b1{
    margin: 15px;
    width: 150px;
    background-color: #0E312F;
    color: white;
    border-radius: 50px;
    height: 45px;
    border: 1px solid #0E312F;
    font-size: large;

}

.b2{
    width: 150px;
    background-color: white;
    color: black;
    border-radius: 50px;
    height: 45px;
    border: 1px solid #0E312F;
    font-size: large;

}

.service{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;
}

.box3{
    height: 350px;
    width: 300px;
    background-color: white;
    
    /* margin-left: 170px;*/
    margin-top: 100px;
    text-align: center;
    padding: 100px 20px 80px 20px;
    color: #0E312F;
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}

.box3:hover{
    height: 370px;
    width: 330px;
    background-color: white;
    
    
    color: #0E312F;

}
.box4:hover{
    height: 370px;
    width: 330px;
    background-color: white;
    
    
    color: #0E312F;

}
.box5:hover{
    height: 370px;
    width: 330px;
    background-color: white;
    
    
    color: #0E312F;

}

.box4{
    height: 350px;
    width: 300px;
    background-color: white;
    
   /* margin-left: 170px;*/
    margin-top: 100px;
    text-align: center;
    padding: 100px 20px 80px 20px;
    color: #0E312F;
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box5{
    height: 350px;
    width: 300px;
    background-color: white;
    
    /* margin-left: 170px;*/
    margin-top: 100px;
    text-align: center;
    padding: 100px 20px 80px 20px;
    color: #0E312F;
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.l{
    margin-right: 62%;
}

.bs1{
    width: 120px;
    height: 35px;
    background-color: #0E312F;
    border-radius: 50px;
    border: 1px solid #C6CDC0;
    margin-top: 20px;
    color: white;
    
}


#loginp {
    margin: 3%;
    font-size: large;
    margin-left: 5%;
}

#loginp a {
    color: #016960;
   
}

#loginp a:hover {
    color: #016960;
    text-decoration: underline;
    background: none;
}

.sld{
    margin-top: 120px;
}

.ft{
    margin-top: 15%;
}