.kmodal_title {
    font-weight: bold;
}

.kmodal_container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 4vh;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.kmodal_inputfields {
    background-color: rgb(249, 255, 255);
    border: 1px solid #016960;
    border-radius: 1vh;
    padding: 1%;
}

.kmodal_buttons {
    background-color: #0E312F;
    border-radius: 3vh;
    border: none;
    height: 4vh;
    margin-left: 5%;
    margin-top: 2vh;
    padding-left: 1vh;
    padding-right: 1vh;
    color: white;
}

.kmodal_buttons:hover {
    background-color: #016960;
}

.kmodal_hr {
    border-color: rgba(4, 67, 51, 0.3);
}

.kmodal_header {
    display: flex;
    justify-content: space-between;
    margin-top: -2vh;
    margin-bottom: -2vh;
}

.kmodal_crossBtn {
    background: none;
    border: none;
    color: gray;

}

.kmodal_crossBtn:hover {
    color: black;
}