*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

  body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  nav{
    background: #0E312F;
    height: 50px;
    width: 100%;
    position: sticky;
    z-index: 1;
    top: 0;
  }
  .navb_logo{
    padding-top: 6px;
    width: 150px;
    height: 45px;
    margin-left: 50px;

  }
  nav .navb_ul{
    float: right;
    margin-right: 5%;
  }
  nav .navb_ul .navb_li{
    display: inline-block;
    line-height: 80px;
    margin-left: 14px;
    margin-top: -14px;
  }
  nav .navb_ul .navb_li a{
    color: white;
    font-size: 16px;
    padding: 7px 13px;
    border-radius: 3px;
   
  }
  nav .navb_ul .navb_li a.active,nav .navb_ul .navb_li a:hover{
    background: #027e74;
    transition: .5s;
  }
  .navb_checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #navb_check{
    display: none;
  }
  @media (max-width: 952px){
    label.navb_logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav .navb_ul .navb_li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .navb_checkbtn{
      display: block;
    }
    .navb_ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav .navb_ul .navb_li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav .navb_ul .navb_li a{
      font-size: 20px;
    }
    nav .navb_ul .navb_li a:hover,nav .navb_ul .navb_li a.active{
      background: none;
      color: #027e74;
    }
    #navb_check:checked ~ ul{
      left: 0;
    }
  }
  