.nisa-list-container{
    width: 90%;
    height: 90px;
    background-color: rgba(255,255,255,0.6);
    border-radius: 10px;
    margin-left: 27%;
    margin-top: 2%;
    border: 1px solid darkgreen;
    box-shadow: 10px 5px 80px 0.02px #acaaaa;
    display: flex;
    flex-direction: row;
    
    

}


.nisa-net-pp{
    margin-left: 350px;
    color: maroon;
    font-size: 18px;
}



.nisa-list-small{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.nisa-network-lp{
    margin-top: 100px;
}

.nisa-network-label{
    font-size: 25px;
    margin-left: 350px;
    color: black;
    
}

.nisa-network-ppl{
    font-size: 17px;
    margin-top: 30px;
    margin-right: 40%;
   
}

.nisa-network-parent{
    display: flex;
    flex-direction: row;
    min-height: 95vh;
}

.nisa-network-container{
    display: flex;
    flex-direction: column;
 
    height: 100vh;
    width: 100vw;
  
}

.network-bg{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 1200px;
    top: 7px;
}
.nisa-search-bar{
    text-align: center;
    margin-top: 2%;
    margin-left: 28%;
    width: 40%;
}

.nisa-network-img1{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 10px;
}

.nisa-network-img2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
   background-color: #027e74;
 cursor: pointer;
   padding: 2px;
   margin-right: 10px;
   margin-right: 5%;
   margin-top: 4%;
}

.nisa-net-pp2{
    margin-left: 350px;
    color: maroon;
    font-size: 18px;
}

.nisa-network-p{
    color: rgb(107, 106, 106);
    margin-top: -8px;
    font-size: 14px;
}

.nisa-list-big{
    display: flex;
    flex-direction: row;

}

.btnnnn{
    z-index: 1;
}

.nisa-network-btn{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #027e74;
    margin-right: 80px;
    margin-top: 30px;
    cursor: pointer;
  
}

.nisa-network-btn:hover{
  
    background-color: #606766;
  
   
}

