#openvacancies-box{
    border-radius: 5%;
    /*border-color: green;
    border-style: solid;*/
    width: 250px;
    height: 400px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top:10px;
    padding-left: 10px;
    background-color:rgba(255,255,255,0.6);
}
#emp-name{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:13px;
    font-weight: normal;
    margin-left:40px;
}
#emp-img{
    text-align: center;
    margin:auto;
    border-radius: 50%;
    width:35px;
    height:35px;
    background-color: #016960;
    float:left;
    
}
.button {
    
    border-radius: 4px;
   
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 10px;
    background-color: #016960;
    width: 80px;
    height:20px;
    transition: all 0.5s;
    cursor: pointer;

  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }