

.card.animated.fadeInLeft{
    width: 55%;
    height: 500px;
    background-color: gray;
    opacity : 0.9;
    margin-top: 5%;
    margin-left: 20%;
    border-radius: 2%;
    box-shadow: 40px;

}

.form-control{
    margin-left: 10%;
}

.card-body{
    background-color: #0E312F;
}

.card-title{
    color: white;
    margin-top: 5%;
    font-size: 30;
}

.btn.btn-info{
    background-color: #0E312F;
    width: 10%;
    color: white;
    border: none;
    height: 30px;
}