.sliderimg{
    width: 60%;
    margin-left: 20%;
    height: 600px;
    object-fit: cover
  }

  .nisa-text1{
    position: absolute;
    top: 100px;
    left: 70px;
    width: 500px;
    height: 400px;
    background-color: #027e74;
    opacity: 0.6;
    border-radius: 10px;
  
  }


  
 
 .nisatt1{

  color: black;
  font-size: 30px;
  padding-left: 10px;


 }

  .sliderimg2{
    width: 50%;
    margin-right: 50%;

    height: 600px;

    object-fit: cover
  }

  .sliderimg1{
    width: 50%;
    margin-left: 50%;

    height: 600px;
    object-fit: cover
  }

.text-1{
  width: 20%;
}

.nisa-img1{
 width: 100%;
 height: 20%;
}

  .s1{
    margin-top: -16%;
    position: absolute;
    top: 250px;
    color: black;
    text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
    font-size: 50px;
    float: left;
    

  }

  .s2{
    margin-top: -16%;
    position: absolute;
    top: 250px;
    color: white;
    text-shadow: 4px 8px 8px rgba(46,91,173,0.6);
    font-size: 50px;
    text-align: center;
    width: 73%;
    margin-left: 3%;
    

  }

  .s3{
    margin-top: -16%;
    position: absolute;
    top: 250px;
    color: white;
    text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
    font-size: 50px;
    

  }



 