.userprof_public_container {
    display: grid;
    grid-template-columns: 0.75fr 1.25fr;
    grid-template-areas:
      "header header"
      "left activity"
      "footer footer";
    grid-template-rows: auto 1fr auto; /* Adjusted the rows for better responsiveness */
    grid-gap: 1.5rem;
    width: 100%;
    min-height: 100vh; /* Ensures the container takes up at least the full viewport height */
  }
  
  .userprof_public_header {
    grid-area: header;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 10rem;
  }
  
  .userprof_public_left {
    grid-area: left;
    margin-left: 2rem;
  }
  
  .userprof_public_education {
    margin-top: 2rem;
  }
  
  .userprof_public_workexp {
    margin-top: 2rem;
  }
  
  .userprof_public_activity {
    grid-area: activity;
    margin-right: 2rem;
    
  }
  
  .userprof_public_footer {
    grid-area: footer;
    
    bottom: 0; /* Ensure the footer sticks to the bottom of the container */
   
  }
  